<div class="body-content">
  <div class="row">
    <%= render :partial => "partials/back_button", locals: {model_name: "curriculum", object: @curriculum} %>
  </div>
  <h3>Editing Curriculum</h3> 
  <%= link_to 'Show original', @curriculum %><br/><br/>
  <%= render 'form', curriculum: @curriculum %>
</div>