<div class="body-content">
  <div class="row">
    <%= render :partial => "partials/back_button", locals: {model_name: "user", object: @user} %>
  </div>

<%= render partial: "partials/form_structure", locals: {object: @student, 
                                                        type_of_form: "New Student",
                                                        fields: "fields"} %>
</div>