<div class="card lighten-2">
  <div class="card-content">
    <span class="card-title">Registrations</span>
    <% if @students.empty? %>
    <p>No students at this time</p>
    <% else %>
      <ul>
        <% @students.each do |s| %>
          <li>
            <%= s.proper_name %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if !logged_in? %>
      <p> Login or signup to register! </p>
    <% end %>
  </div>
</div>


