<div class="body-content">
  <div class="row">
    <%= render :partial => "partials/back_button", locals: {model_name: "camp", object: @camp} %>
  </div>
  <h3>Editing Camp</h3> 
  <%= link_to 'Show original', @camp %><br/><br/>
  <%= render 'form', camp: @camp%>
</div>