<section class="hero index-hero" id="hero4">
  <div class="hero-inner">
    <div class="description">
      <h2>camps</h2>
    </div>
  </div>
</section>
<div class="body-content">
  <%= render partial: "partials/index_structure", locals: {model_name: "camp", 
                                                           primary: "active_camps", 
                                                           secondary: "inactive_camps",
                                                           sidebar: nil} %>
</div>


