<div class="row">
  <div class="col s4">
    <h3>Camps</h3>
    <!-- Add a button for new instances of object -->
    <p>Explore some of our amazing camp selections.</p>
    <% if logged_in? && ( current_user.role?(:admin) ) %>
      <%= link_to(eval("new_#{model_name}_path"), class: "btn waves-effect waves-light blue") do %>
        <!-- <i class="fa fa-plus"></i> -->
        &nbsp;Add a New <%= model_name.capitalize %>
      <% end %>
    <% end %>
  </div>

  <div class="col s8">
    <!-- primary partial gets displayed here in main div -->
    <%= render partial: "#{primary}" %>
    <!-- sometimes we want another partial below -->
    <% if logged_in? && ( current_user.role?(:admin) ) %>
      <% unless secondary.nil? %>
        <p>&nbsp;</p>
        <%= render partial: "#{secondary}" %>
      <% end %>
    <% end %>
    
  </div>

</div>

