<div class="card">
  <div class="card-content">
    <span class="card-title">Students</span>
    <% if students.empty? %>
    <p>No students at this time</p>
    <% else %>
      <table>
          <% for s in students %>
            <th>
            </th>
            <tr>
              <td><%= link_to s.name, student_path(s) %></td>
              <table id="family-view">
                <thead>
                  <th>Camp Name</th>
                  <th>Dates</th>
                </thead>
                <% for r in s.registrations %>
                <tr>
                  <td><%= link_to r.camp.name, camp_path(r.camp) %></td>
                  <td><%= r.camp.start_date.strftime("%m/%d/%y") %></td>
                </tr>
                <% end %>
              </table>
            </tr>
          <% end %>
      </table>
    <% end %>
  </div>
</div>
