<section class="hero index-hero" id="hero6">
  <div class="hero-inner">
    <div class="description">
      <h2>about</h2>
    </div>
  </div>
</section>

<div class="body-content">
  <div class="row">
      <div class="col s4">
        <h3>our history</h3>
        <h6>a passion for teaching chess</h6>
      </div>
      <div class="col s4">
        <p>
          Grandmaster Dr. Siegbert Tarrasch once said "Chess, like love, like music, has the power to make us happy". This has become our motto over the years, as each time one of our students succeeds we are reminded of what our true passion in life really is: sharing the wonders of chess.
        </p>
      </div>
      <div class="col s4">
        <p>Trained by their father, Prof H, since before they could crawl, USCF Chess Masters' Alex and Mark are experienced beyond their years at the game. Having swept the competition at a plethora of national tournaments, the twins founded this school to teach others their secrets to success.
        </p>
      </div>
    </div>
  </div>
</div>