<table class = "bordered centered responsive-table">
  <thead>
    <th>Camp</th>
    <th>Student</th>
    <th>Price</th>
    <th></th>
  </thead>
  <tbody>
  </tbody>
</table>
<br>

<table class="col s3">
  <tbody>
    <tr>
      <td><b>Total: </b></td><td><%= number_to_currency(@registration_total) %></td>
    </tr>
  </tbody>
</table>