<h4>Your cart has <%= session[:cart].length %> <%= 'item'.pluralize(session[:cart].length) %>.</h4>

<% unless session[:cart].empty? %>
  <%= render partial: 'cart_content' %>

  <div id="checkout_button">
    <a class="waves-effect waves-light btn" <%= link_to "Proceed to Checkout", checkout_page_path %> </a>
  </div>
<% else %>
  <h5><em>Please place at least one item in your cart before checking out.</em></h5>
<% end %>

