body{
  font-family: 'Sofia Pro', sans-serif;
  color: #000000;
  margin: 0;
}

.body-content{
  width: 75%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

a{
  color: #F7A072;
}

.back-button{
  color: #F7A072;
}

h6{
  color: #F7A072;
  font-size: 1.1em;
}

/********** NAV ********/
nav{
  padding-left: 40px;
  padding-right: 40px;
}

nav ul li a:hover {
   background-color: #eaebed;
}

.brand-logo{
  font-weight: 600;
}

nav .brand-logo{
  color: #000000;
}

nav ul a{
  color: #F7A072;
  font-weight: 500;
}

nav #center-nav li a{
  color: #0FA3B1;
  display: relative;
}

li .form-inline{
  color: #000000;
}

#search{
  display: none;
  color: #0FA3B1;
}

#search input{
  border-bottom: none;
  height: auto;
}

#search input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

.collection-item{
  font-size: 1.25em;
}

.collection-item p{
  color: #0FA3B1;
  font-size: 1.5em;
}

#search-results, #search-results h2{
  color: #000;
}

#checklist p{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/********** DROPDOWN BECAUSE MATERIALIZE SUCKS ********/
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown-nav {
    position: relative;
    min-width: 170px;
    display: inline-block;
}

.dropdown-nav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-nav-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-nav-content a:hover {background-color: #f1f1f1}

.dropdown-nav:hover .dropdown-nav-content {
    display: block;
}

.dropdown-nav:hover .dropbtn {
    background-color: #eaebed;
}

/********** LOGIN ********/

#login-card{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

/********** INDEX PAGE ********/

.container{
  width: 100%;
  margin: 0;
  margin-top: 0;
}

.hero {
  /* Sizing */
  height: 100vh;
  width: 100vw;
   /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;

   /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(https://static1.squarespace.com/static/54b96861e4b0d1f230ccbf00/598e92e4e58c6284b28f57b0/598e92e58419c2158fd62096/1502515959501/OCA_OSOTA+2017+Summer+Chess+Camp+25.jpg?format=2500w);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #ffffff;
  font-size: 5em;
}

.hero .btn {
  /* Padding and margins */
  margin-left: auto;
  margin-right: auto;
}

.description{
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: 6em;
}

.description-title{
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  color: #F7A072;
}

#hero2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(https://static1.squarespace.com/static/54b96861e4b0d1f230ccbf00/598e92e4e58c6284b28f57b0/598e9318f43b5572af33a506/1502516001341/OCA_OSOTA+2017+Summer+Chess+Camp+33.jpg?format=2500w);
}

.hero.index-hero{
  height: 80vh;
}

#hero3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(http://chess4successla.com/wp-content/uploads/2017/08/SummerCamp2017_0006_111505-UPLOAD_FILE_9-20170809CHESS-take-one23.jpg);
}

#hero4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(http://chess4successla.com/wp-content/uploads/2017/08/SummerCamp2017_0048_111488-UPLOAD_FILE_7-20170809CHESS-take-one22.jpg);
}

#hero5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(https://static1.squarespace.com/static/54b96861e4b0d1f230ccbf00/598e92e4e58c6284b28f57b0/598e93756b8f5b2f5d3bcc91/1502516100629/OCA_OSOTA+2017+Summer+Chess+Camp+54.jpg?format=2500w);
}

#hero6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(https://static1.squarespace.com/static/54b96861e4b0d1f230ccbf00/598e92e4e58c6284b28f57b0/598e933dbebafb01ec1663ba/1502516044185/OCA_OSOTA+2017+Summer+Chess+Camp+40.jpg?format=2500w);
}

#hero7{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(http://chess4successla.com/wp-content/uploads/2017/08/SummerCamp2017_0058_111487-UPLOAD_FILE_7-20170809CHESS-take-one03.jpg);
}


.hero p{
  color: #ffffff;
  font-size: 1em;
  text-align: left;
}

/********** PAGNATION ********/
.paginate{
  font-size: 1.2em;
}

/********** BUTTONS ********/
.btn, .btn-large{
  background-color: #0FA3B1;
}

/********** FOOTERS ********/
.page-footer{
  background-color:#eaebed;
  padding: 4em;
  color: #000000;
  bottom: 0; 
}

.page-footer h5{
  font-family: 'Playfair Display', serif;
  color: #F7A072;
}

.page-footer a{
  color: #0FA3B1;
}

/********** ADMIN DASHBOARD ********/

.box-icon{
  float:left;
}
.box-content{
  float: right;
  margin-right: 2em;
  text-align: right;
}

.box-content h6{
  color: #000;
  font-size: 2em;
}

.box-panel{
  margin-top: 2%;
  margin-bottom: 2%;
}

#dashboard-charts .card-title{
  margin-bottom: 2%;
  color: #000;  
}

#dashboard-charts{
  color: #a6a6a6;
}

#recent-registrations{
  font-size: 0.9em;
}

.progress{
  height: 6px;
  background-color: #cccccc;
  opacity: 1;
}

.progress .determinate{
  background-color: #68d8d6;
  opacity: 1;
}

.progress-section{
  margin-top: 5%;
  margin-bottom: 6.75%;
}

/********** INDEX PAGES FOR MODELS ********/
h2{
  color: white;
}

h3{
  color: #0FA3B1;
  font-family: 'Playfair Display', serif;
}

.section-area{
  margin-top: 2em;
  margin-bottom: 2em;
}

.section-title{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #0FA3B1;
}

/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #2979ff;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #303F9F;
}

/********** CARDS ********/
.card a {
  color: #F7A072;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #e0f7fa;
}

.card .card-title{
  font-weight: 400;
  color: #0FA3B1;
}

.card .remove {
  color: #b71c1c;
}

/********** BUTTONS ********/
.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; } 
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #e8f5e9;
    border-color: #a5d6a7;
    color: #1b5e20; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #fff3e0;
    border-color: #ffcc80;
    color: #ef6c00; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }