<h3><%= @location.name %></h3>

<p class="section-area">
  <div class="section-title">address</div>
  <%= render partial: "partials/address_info", locals: {location: @location}  %>
</p>


<p>
  <div class="section-title">maximum capacity</div>
  <%= @location.max_capacity %>
</p>

<p>
  <div class="section-title">active</div>
  <%= @location.active ? "Yes" : "No" %>
</p>