<div class="body-content">
  <div class="row">
    <%= render :partial => "partials/back_button", locals: {model_name: "location", object: @location} %>
  </div>
  <h3>Editing Location</h3> 
  <%= link_to 'Show original', @location %><br/><br/>
  <%= render 'form', curriculum: @location %>
</div>