<section class="hero index-hero" id="hero5">
  <div class="hero-inner">
    <div class="description">
      <h2>locations</h2>
    </div>
  </div>
</section>
<p id="notice"><%= notice %></p>
<div class="body-content">
  <%= render partial: "partials/location_index_structure", locals: {model_name: "location", 
                                                           primary: "active_locations", 
                                                           secondary: "inactive_locations",
                                                           sidebar: nil} %>
</div>



